* {
  transition: all .1s ease-in-out;
  box-sizing: border-box;
  margin: 0; }

html {
  scroll-behavior: smooth; }

ul li {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.wrapper {
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.button {
  background: #FFDD63;
  border-radius: 25px;
  padding: 11px 21px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 0.03em;
  color: #282630; }
  .button:hover {
    background-color: #fdd33c; }

.header {
  position: relative; }
  .header-block {
    display: flex;
    justify-content: flex-end; }
  .header-icons {
    position: absolute;
    bottom: 86px;
    left: 86px;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: space-between; }
    .header-icons .fab {
      color: #282630;
      font-size: 14px; }
  .header-text {
    padding-bottom: 217px; }
    .header-text .title {
      margin: 242px 220px 0 0;
      padding: 20px 0;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 96px;
      text-transform: uppercase;
      color: #282630; }
    .header-text hr {
      margin-bottom: 50px;
      width: 116px;
      height: 3px;
      border: none;
      background-color: #282630; }
    .header-text .description {
      max-width: 474px;
      width: 100%;
      font-family: Cabin;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      color: #65636A;
      line-height: 150%;
      margin-bottom: 50px; }
  .header-buttons {
    display: flex; }
    .header-buttons .button {
      margin-right: 24px; }

.main-plate {
  position: absolute;
  z-index: -1000;
  left: 7%;
  top: -5%;
  bottom: -2%;
  width: 1079px;
  height: 1051px;
  background-color: #FAFAFA;
  border-radius: 50%; }
  .main-plate .plate {
    position: relative;
    top: 5%; }
    .main-plate .plate .ellipse {
      display: block;
      position: absolute;
      z-index: -900;
      border: 1px solid #FEE382;
      border-radius: 50%;
      box-sizing: border-box;
      background-color: transparent; }
      .main-plate .plate .ellipse-image {
        position: absolute;
        left: 10%;
        top: 85%;
        max-width: 638px;
        width: 100%; }
      .main-plate .plate .ellipse-big {
        width: 1083px;
        height: 1083px;
        left: -5%;
        top: 0; }
      .main-plate .plate .ellipse-small {
        width: 801px;
        height: 801px;
        left: 7%;
        top: -55%; }

.navbar {
  padding: 32px 56px 0; }
  .navbar-brand {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px; }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    max-width: 233px;
    width: 100%;
    margin-right: 70px; }
    .navbar-nav .nav-item .nav-link {
      font-family: "Cabin", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #282630; }
  .navbar-collapse {
    justify-content: flex-end; }
    .navbar-collapse i {
      font-size: 14px;
      color: #282630;
      margin-left: 40px; }

.section-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  color: #282630;
  line-height: 72px;
  margin-top: 48px;
  text-align: center; }

.section-hr {
  width: 64px;
  height: 3px;
  border: none;
  border: none;
  background-color: #282630;
  margin: auto; }

.why {
  padding: 5px 0;
  background-color: #FEE382; }
  .why-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0; }
  .why-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 240px;
    padding: 10px; }
    .why-card .card-title {
      margin: 24px 0 12px; }

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=main.css.map */
