.reviews {
    position: relative;
    height: 100vh;

    .overlay-circle {
        position: absolute;
        z-index: -1000;
        top: -40%;
        right: 14%;
        width: 903px;
        height: 880px;
        border-radius: 50%;
        background-color: $white-darken;
    }


}

.sl {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .item {
        cursor: pointer;
        max-width: 370px;
        min-height: 380px;
        height: 100%;
        width: 100%;
        margin: 0 15px;
        padding: 0 15px;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .avatar {
            width: 96px;
            transition: width 0.4s ease-in-out;
        }

        &-name {
            margin: 16px 0;
            font-family: $font-poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            color: $black-light;
        }

        &-feedback {
            margin-top: 18px;
            display: none;
            width: 344px;
            font-family: $font-cabin;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
            color: $grey-text;
            transition: display 0.4s ease-in-out;
        }
    }

    .slick-center {
        .item {
            &-img {
                .avatar {
                    width: 120px;
                }
            }

            &-feedback {
                display: block;
            }
        }
    }

    .arrow {
        width: 54px;
        height: 54px;
        color: #dedede;
    }

    .prev-pic {
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        z-index: 10;
        left: 0;
        top: 40%;
    }

    .next-pic {
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        z-index: 10;
        right: 0;
        top: 40%;
    }
}