* {
    transition: all .1s ease-in-out;
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    // max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}