// @mixin section-title {
//     font-family: $font-poppins;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 48px;
//     text-transform: uppercase;
//     line-height: 72px;
//     color: $black;
// }

// @mixin button {
//     background: $yellow;
//     border-radius: 25px;
//     padding: 11px 21px;
//     font-family: $font-poppins;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: $black;
//     border: none;
//     outline: none;
//     cursor: pointer;
// }

@mixin section-title {
    position: relative;
    display: inline-block;
    font-family: $font-poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    color: $black;
    line-height: 72px;
    padding-bottom: 19px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 64px;
        height: 3px;
        background-color: $black;
    }
}