//Fonts
$font-poppins: 'Poppins', sans-serif;
$font-cabin: 'Cabin', sans-serif;

//Colors
$white: #FFFFFF;
$white-darken:  #FAFAFA;
$yellow: #FFDD63;
$yellow-light: #FEE382;
$black-title: #282630;
$black-light: #342B2B;
$grey-text: #65636A;

